@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

header {
    text-align: center; 
    font-size: 60px;
    background-color: rgb(0, 0, 0);
    color: azure;
    padding: 20px 0; 
}

header h1 {
    text-align: center; 
    font-size: 60px;
    padding: 20px 0; 
    animation: rainbow 10s infinite; 
}

@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    90% { color: purple; }
    100% { color: rgb(128, 0, 0); }
}

#textoHeader {
    font-size: 30px; 
}
.formulario {
    border: 2px solid white; 
    width: 50%;
    padding: 20px; 
    margin: 20px; 
    border-radius: 10px;
    float: left; 
}



#creandocarpeta {
    display: flex;
    flex-direction: column;
    max-width: 800px; 
    margin: 20px; 
}
legend{
    margin-bottom: 20px; 
    font-size: 40px;
}

label {
    margin-bottom: 10px; 
    font-size: 50px;
}

input {
    margin-bottom: 30px;
    font-size: 24px; 
    padding: 8px;
    border: 1px solid #7d7d7d; 
    font-family: 'VT323'
}

input[type="text"],
input[type="password"] {
    width: 100%; 
    box-sizing: border-box; 
}

#botonEncriptador {
    background-color: white; 
    border: 1px solid black; 
    padding: 8px 12px; 
    font-family: 'VT323', sans-serif;
    font-size: 30px; 
    cursor: pointer; 
   
}

.nombreCarpeta{

    text-align: center; 

}

#botonEncriptador:hover {
    background-color: #f2f2f2; 
    animation: rainbow 10s infinite;
}

@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    90% { color: purple; }
    100% { color: rgb(128, 0, 0); }
}

.carpeta,
.carpetaabierta {
    display: none;
}



.contenedordecarpetas-container {
    position: relative;
    border: 2px solid white; 
    width: 40%;
    height: 676px;
    padding: 20px; 
    margin: 20px; 
    border-radius: 10px;
    float: right;
}


.textoencriptado{

    font-size: 24px;
    display: flex;
    justify-content: center; 
    align-items: center;

}

.textovacio{
    font-size: 24px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#gato{

    width: 500px; 
    height: auto; 

}

#radio{

    width: 200px; 
    height: auto; 

}

.carpeta {
   
    position: absolute; 
    border: 2px solid rgb(255, 255, 255); 
    padding: 20px; 
    justify-content: center; 
    align-items: center; 
    width: 50%; 
    height: 50%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 100px
}

#mensajeContraseñaIncorrecta {

    text-align: center; 
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 7, 7);
    padding: 20px 0;

}



    

.carpetaabierta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.924); 
    z-index: 1000; 
    width: 60%; 
    height: 70%; /* Ajusta la altura del cuadro */
    border: 2px solid rgba(255, 255, 255, 0.997);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 254, 254); 
}

.nombreDeCarpeta,
.textoDesencriptado {
    padding: 20px;
}

.nombreDeCarpeta {
    text-align: center; 
    font-size: 60px;  
}

.textoDesencriptado {
    text-align: center; 
    font-size: 50px; 
}

.modificar-button,
.copiar-button,
.guardar-salir-button {
    position: absolute;
    bottom: 10px;

   
    border: none; 
    cursor: pointer; 
}

.modificar-button {
    left: 10px;
    background-color: #ebebebfb; 
    color: rgb(0, 0, 0); 
    font-family: 'VT323'
}

#nuevotexto {
    font-size: 20px; 
    color: rgba(0, 0, 0, 0.315); 
    background-color: rgba(0, 0, 0, 0.297); 
    border: 2px solid rgba(0, 0, 0, 0.123); 
    padding: 5px; 
    border-radius: 5px; 
}

.copiar-button {
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    font-family: 'VT323'
}

.guardar-salir-button {
    right: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0); 
    font-family: 'VT323'
}




   












footer {
    text-align: center; 
    font-size: 60px;
    background-color: rgb(0, 0, 0);
    color: azure;
    padding: 20px 0; 
    margin-top: auto; 
}